.App{
    display:flex;
    /* align-items: center; */
    flex-direction: column;
}

.heading{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.App form{
    display: flex;
    position: fixed;
    bottom: 5vh;
    left: 4vw;
    right: 4vw;
    justify-content: center;
    z-index: 5;

}

.inputField{
    max-width: 500px;
    background-color: currentColor;
    opacity: 100;
    background-color: #d6ffff;
}

.form button{
    color: purple;

}

.main-div{
    margin-bottom: 20vh;
    display: flex;
    /* max-width: 800px; */
    /* border: 2px solid red; */
    /* align-items: center; */
    flex-direction: column;   
}

.inputForm{
    display: flex;
}

.messages {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: 200px;
    /* height: 50px; */
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}

.message-user {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    width: 200px;
    /* height: 50x; */
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}

